<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>Login</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-*">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                    <a class="nav-item nav-link active" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    <a class="nav-item nav-link" href="{% url 'show_my_tasks' %}">My Tasks</a>
                    <a class="nav-item nav-link" href="{% url 'list_projects' %}">My Projects</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
            style="min-height: 100vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1444065707204-12decac917e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80);">
            <div class="container-fluid">
                <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
                    <div class="col-12 col-md-4 col-lg-3   h-50 ">
                        <div class="card shadow">
                            <div class="card-body mx-auto">
                                <h4 class="card-title mt-3 text-center pb-3">Login</h4>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="form-group pb-3">
                                        <button type="submit" class="btn btn-primary btn-block">Login
                                        </button>
                                    </div>
                                    <p class="text-center">Don't have an account?
                                        <a href="{% url 'signup' %}">Signup</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>
